.container {
  font-family: Arial, sans-serif;
  background-color: #FFF1F6;
  padding: 5vw;
  color: #000;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
}

.banner {
  background: linear-gradient(135deg, #c78ee8, #E8D1E0);
  padding: 11%;
  border-radius: 25px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.banner h1 {
  font-size: 4vw;
  margin: 0 0 5px;
  color: #fff;
  font-weight: bold;
}

.banner p {
  font-size: 2vw;
  margin: 0;
  color: #fff;
}

.banner-image {
  height: 100%;
  border-radius: 0;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 20px 20px 20px 20px;
  z-index: 0;
  opacity: 75%;
}

.banner-content {
  position: relative;
  z-index: 1;
  text-align: left;
}

.categories h2, .featured h2 {
  color: #E239FF;
  font-size: 2.8vw;
  margin-bottom: 15px;
  text-align: left;
}

.category-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.category-btn {
  background: linear-gradient(135deg, #FFD1F9, #E1BEE7);
  border: none;
  padding: 15px;
  border-radius: 15px;
  font-size: 2.8vw;
  color: #5b5b5b;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 31%;
  transition: transform 0.3s ease;
}

.category-btn:hover {
  transform: scale(1.05);
}

.category-btn img {
  width: 8vw;
  height: 6vw;
  filter: brightness(75%);
}

.featured-items {
  display: flex;
  justify-content: space-between;
}

.item {
  background: linear-gradient(135deg, #B3E5FC, #CE93D8);
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  margin: 1%;
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
  width: 30%;
}

.item img {
  max-width: 40%;
  height: auto;
  margin-bottom: 10px;
}

.item p {
  margin: 5px 0;
  color: #000;
  font-size: 1.4vw;
}

.item p:first-of-type {
  font-weight: bold;
}

  ::ng-deep .add-btn {
    background-color: #AB47BC !important;
    color: #fff !important;
    border: none !important;
    padding: 8px 15px !important;
    border-radius: 10px !important;
    cursor: pointer !important;
    font-size: 14px !important;
    margin-top: auto !important;
    transition: transform 0.3s ease !important;
    border-color: #AB47BC !important;
  }

::ng-deep .add-btn:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .item {
    width: 100%;
    margin-bottom: 15px;
    min-height: 200px;
  }
  .banner h1 {
    font-size: 24px;
  }
  .banner p {
    font-size: 18px;
  }
  .categories h2, .featured h2 {
    font-size: 30px;
  }
  .category-btn {
    font-size: 20px;
  }
  .item p {
    font-size: 15px;
  }
  .category-btn {
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-bottom: 10px;
  }
  .category-btn img {
    margin-bottom: 5px;
  }
  .category-btn:hover {
    transform: scale(1.05);
  }
}
