<app-header></app-header>
<div class="container">
  <header class="banner">
    <div class="banner-content">
      <h1>Descubre tu look ideal</h1>
      <p>Maquillaje moderno y fresco</p>
    </div>
    <img src="assets/rostro.png" alt="Model with makeup" class="banner-image">
  </header>

  <section class="categories">
    <h2>Categorías</h2>
    <div class="category-buttons">
      <button class="category-btn" (click)="navigateTo('ojos')">
        <img src="assets/ojo.png" alt="Ojos"> Ojos
      </button>
      <button class="category-btn" (click)="navigateTo('labios')">
        <img src="assets/labio.png" alt="Labios"> Labios
      </button>
      <button class="category-btn" (click)="navigateTo('rostros')">
        <img src="assets/flor.png" alt="Rostro"> Rostro
      </button>
    </div>
  </section>

  <section class="featured">
    <h2>Destacados</h2>
    <div class="featured-items">
      <div class="item">
        <img src="assets/maquillaje1.png" alt="Base café claro">
        <p>Base café claro</p>
        <p>$299 MXN</p>
        <p-button label="Agregar" styleClass="add-btn"/>
      </div>
      <div class="item">
        <img src="assets/labial.png" alt="Lápiz Labial">
        <p>Lápiz Labial</p>
        <p>$249 MXN</p>
        <p-button label="Agregar" styleClass="add-btn"/>
      </div>
      <div class="item">
        <img src="assets/maquillaje1.png" alt="Base café claro">
        <p>Base café claro</p>
        <p>$299 MXN</p>
        <p-button label="Agregar" styleClass="add-btn"/>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
